
ion-icon{
    transform:translateY(20px);
    font-size:25px;
    color: #ffffff !important;
    margin-left: 10px;

  }

  ion-icon:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }




.followers{
  
  transform: translateY(-40%);
  font-family: 'Open Sans', sans-serif;
  
  font-size: 10px;
}


.verified{


  height: 15px;
  width: 15px;
  
}




h1 {
  
  display: inline-block !important;
  font-family:Trajan Pro Bold;
  color: #4a3a27;
  text-transform: uppercase;
  letter-spacing: 1vw;
  line-height: 1.2;
  font-size: 15px;
  text-align: left;
  span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
  }
}
.backgr{


background-image:   linear-gradient(to top, rgba(242, 183, 144, 0),rgba(223, 224, 223, 0.2)),
url(/assets/depositphotos_182968484-stock-photo-top-view-business-workplace-home.jpg) !important;
//background-color: rgb(247, 247, 247);
height: 280px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
//opacity: 60%;
//border-bottom-left-radius: 10% !important;






}


.transformbox{
  
 
}

.roundparent{
  margin-top: 20PX;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  //background-color: #1E2F5F;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  
 // justify-content: center;
  
  
   .child1{
    margin-left: 2%;
    //margin-right: 2%;
    height: 100PX;
    width: 200px;
    //height:50px;
    //width: 50px;
    padding: 20px;
    //border-radius: 20%;
    
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    span{
      display: flex;
      justify-content: center !important;
      padding:20px;
      color: #1E2F5F;
      font-size:20px;
      font-family:Trajan Pro Bold;
         
      } 

  }
 .child2{
    margin-left: 2%;
    margin-right: 2%;
    height: 100PX;
    width: 100px;
    //height:50px;
    //width: 50px;
    padding: 20px;
    //border-radius: 20%;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
  
   span{
  display: flex;
  justify-content: center !important;
  padding:20px;  display: inline-block !important;
  color: #1E2F5F;
  font-size:20px;
  font-family:Trajan Pro Bold;
  }
  }
   .child3{
    //margin-left: 2%;
    margin-right: 4%;
    height: 100PX;
    width: 100px;
    //height:50px;
    //width: 50px;
    padding: 20px;
    //border-radius: 20%;
    background-color:#ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
       span{
  display: flex;
  justify-content: center !important;
  padding:20px;
        color: #1E2F5F;
      font-size:20px;
      font-family:Trajan Pro Bold;
  }
   }
   .child4{
    height:50px;
    width: 50px;

    border-radius: 50%;
    padding: 20px;
    background-color: #1E2F5F;
   }

}



//first law css
.product-slider {
margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 40% !important;
  
  
  
  div{
    margin-top: 30%;
    border-radius: 0px;
    box-shadow: 0px !important;
    background-color: white;
  
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
     border-radius: 0px;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 40px;
      background-color:  #324B4C;
     box-shadow: none !important; 
     transform: translateY(-20px);
    }
      p{
        transform: translateY(-50px);
        text-align: center;
        
      }
  }
  
  
  }


  .product-slider2{

  }

.trans{
    padding:10px;
    background-color: #212529;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-left:30px;
    margin-right:30px;
    transform:translateY(-50px);
    border-radius:10px;

    font-family: 'Balsamiq Sans', cursive;


}


.round-image {
    width: 120px;
    height: 120px;
    transform: translateY(-50%) !important;
 
   // background-image: url('/assets/IMG-20220905-WA0014.jpg');
    background-size: cover;
    display: block;
    border-radius: 125px;

  

    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    margin-top: 20PX;
    margin-left: 40px;
   //use margin AUto to allign image to center
    text-align: center;
    background-color: #f1f1f1;
   }


   .transformbox{
    transform: translateY(-5%);
   }

   ion-content{
    //transform: translateY(-10%);

  
    h1{
        padding-left: 20px;
    }

    p{
        padding: 20px;
        text-align: justify;
    }
   }

ion-avatar{
    --border-radius:0px;
    height: 50px;
    width: 50px;
}


.button2{
  --background:#1E2F5F;
  color: #ffffff;
  --border-radius: 5px !important;
}

ion-button{
  --background:#ffffff;
  color: #1E2F5F;
  --border-radius: 5px !important;
  box-shadow: none !important;
  margin-left: 20px;
}

